{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/collections/collection-detail.css' %}" />
{% endblock %} 
{% block content %}

<h2>{{ collection.name }}</h2>
<a href="{% url "collection-update" collection.id %}" class="btn warn">Edit</a>
<a href="{% url "collection-delete" collection.id %}" class="btn danger">Delete</a>

<div>
    {% for card in card_list %}
    <p>{{ card.name }}</p>
    <form action="{% url "add-card" collection.id card.id %}" method='post' >
        {% csrf_token %}
        <button type='submit' class='btn submit'>Add</button>
    </form>
    {% endfor %}
</div>

<div class="card-content">
{% for card in collection.cards.all %}
    <div class="card-details">
        <h1>{{ card.name }}</h1>
        <p>{{ card.oracle_text }}</p>
        <p>{{ card.power}} / {{ card.toughness }}</p> 
        <form action="{% url "remove-card" collection.id card.id %}" method='delete' >
            {% csrf_token %}
            <button type='submit' class='btn danger'>X</button>
        </form>           
    </div>
{% endfor %}
</div>


{% endblock %}